@font-face {
  font-family: "Parry Hotter";
  src: url("ParryHotter.ttf") format("truetype");
}

:root {
  --gryffindor: #7f0909;
  --hufflepuff: #ffdb00;
  --ravenclaw: #000a90;
  --slytherin: #0d6217;
  --darkbrown: #351b07;
  --lightbeige: #efdcb4;
}

html {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
}

body {
  color: var(--darkbrown);
}

body::after {
  content: "";
  background-image: url("images/hogwarts.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

header h1 {
  font-family: "Parry Hotter";
  font-size: 5rem;
  text-align: center;
  margin: 0.2rem;
}

main {
  display: grid;
  grid-template-columns: 2fr 5px 1fr;
  margin: 0 5rem;
  /* background-color: #eee; */
}

button {
  background-color: var(--lightbeige);
  cursor: pointer;
}

h3 {
  font-size: 2rem;
  margin: 0.4rem 0;
}

h5 {
  font-size: 1.5rem;
  margin: 1.6rem 0 0 0;
}

#rightSide {
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.308);
  padding: 1rem;
}

.hidden {
  display: none;
}

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #351b07;
  border-radius: 5%;
  padding: 2rem;
  min-width: 30%;
  /* background-image: url("images/background.jpg"); */
  background-color: var(--lightbeige);
  overflow: hidden;
}

.popupContent {
  display: flex;
  justify-content: space-between;
}

.popupImageHolder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
}

.crestHolder {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 30%;
  z-index: -1;
  width: 80%;
  height: 150%;
  position: absolute;
  right: -20%;
  top: -15%;
}

.popUp * {
  margin: 0;
}

.popUp div {
  padding: 1rem;
}

.popUp div::after {
  content: "";
  background-color: #fff;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

main {
  position: relative;
}

table {
  margin: 0 auto;
  border-spacing: 0 5px;
}

th,
tr td {
  text-align: start;
  padding: 1rem;
}

th {
  padding-bottom: 0.2rem;
}

tbody tr {
  background-color: var(--lightbeige);
  max-height: 3rem;
  border-spacing: 1rem;
  padding-bottom: 3rem;
}

tbody tr td:first-child,
th:first-child {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 3rem;
}

tbody tr td:last-child,
th:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 3rem;
}

table th:nth-child(3) {
  width: 15rem;
}

tbody tr:hover {
  text-decoration: underline;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  border: 0.5px solid #ddd;
  width: 5%;
  height: 7%;
}

.closeButton:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  transform: scale(1.5);
}

.vl {
  border-left: 5px solid var(--lightbeige);
  height: 100%;
  top: 0;
}

#headerPanel {
  display: flex;
  justify-content: space-between;
}

#headerPanel div {
  margin: 1rem;
}

/* select {
  height: 100%;
} */
[data-action] {
  cursor: pointer;
}

th[data-sort-direction="asc"]::after {
  content: "\25b2";
}

th[data-sort-direction="desc"]::after {
  content: "\25bc";
}

th[data-sort-direction=""]::after {
  content: "";
}

.hidden {
  display: none;
}

.member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: var(--lightbeige);
  padding: 0.5rem 2rem;
  border-radius: 15px;
}

#removeButton {
  height: 100%;
}
